footer {
  background-color: var(--dark-chocolate);
  color: white;
  text-align: center;
  height: var(--footer-height);
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  margin: 0;
  padding: 10px 0;
  width: 100%;
}